<app-header titulo="grid"></app-header>>
  

<ion-content>
<ion-grid fixed>
    <ion-row>
        <ion-col size="12" size-lg="4" size-md="4" size-sm="6"
                            *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
            <ion-img src="/assets/meccano.jpg"></ion-img>
           
        <ion-card-header>
            <ion-card-subtitle>meccano</ion-card-subtitle>
            <ion-card-title>meccano</ion-card-title>
        </ion-card-header>  
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a molestiae corrupti deserunt, exercitationem ea, recusandae aspernatur nesciunt ducimus aliquid, voluptate odio delectus odit fugiat. Consequatur iure facere expedita explicabo.
        </ion-card-content>  
    </ion-card>              
      </ion-col>
    
    </ion-row>
</ion-grid>
</ion-content>
